@import "tailwindcss";

:root {
  --page-background: #ffffff;
  --text-color: #171717;
}

@theme inline {
  --color-background: var(--page-background);
  --color-text: var(--text-color);
  --font-primary: var(--font-geist-sans);
  --font-code: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #0a0a0a;
    --text-color: #ededed;
  }
}

body {
  background: var(--page-background);
  color: var(--text-color);
  font-family: var(--font-primary);
}
